# API de Autenticação
VITE_API_AUTH_URL=

# API Principal
VITE_API_BASE_URL=

# Token de Autenticação da API
VITE_API_TOKEN=

# News API Configuration
VITE_NEWS_API_KEY=your_api_key_here
VITE_NEWS_API_BASE_URL=https://newsapi.org/v2/everything
